{% extends "base.html" %}

{% block title %}
K.I.S.S. IELTS A.I. Assistant - Admin Logs
{% endblock %}

{% block content %}   
    <div class="container p-3">
        <h2 class="mb-4">Admin Activity Logs</h2>
        
        <table class="table table-hover table-bordered">
            <thead class="table-light">
                <tr>
                    <th>Timestamp</th>
                    <th>Username</th>
                    <th>Action</th>
                    <th>Details</th>
                    <th>Duration</th>  <!-- New header for Duration -->
                    <th>IP Address</th>
                    <th>User Agent</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                <tr>
                    <td>{{ log.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td>{{ log.user.username }}</td>  
                    <td>{{ log.action }}</td>
                    <td>{{ log.details }}</td>
                    <td>
                        {% if log.duration %}
                        {{ log.duration.total_seconds() // 3600 }}h {{ (log.duration.total_seconds() // 60) % 60 }}m
                        {% else %}
                        N/A
                        {% endif %}
                    </td>  <!-- Data field for Duration in the format hours:minutes -->
                    <td>{{ log.ip_address }}</td>
                    <td>{{ log.user_agent }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
