{% extends "base.html" %}

{% block title %}
K.I.S.S. IELTS A.I. Assistant - Form Page
{% endblock %}

{% block content %}
    <div class="container p-3">
        <h1>K.I.S.S. IELTS A.I. Assistant</h1>
        {% if feedback_message %}
        <p>{{ feedback_message }}</p>
        {% endif %}
        <div class="mb-3">
            <form method="post" action="/generate">
                <label for="statement" class="form-label"><strong>Enter your statement:</strong></label>
                <textarea class="form-control" type="textarea" id="statement" name="statement" rows="4"></textarea><br>
            
                <!-- Buttons for Supportive and Opposing -->
                <input type="submit" name="choice" value="Supportive" class="btn btn-primary btn-supportive">
                <input type="submit" name="choice" value="Opposing" class="btn btn-danger btn-opposing">
            </form>            
        </div>
        <div class="mb-3">
            <h2>Sample Statement and Answers:</h2>
            <br>
            <ul>
                <li><b>Statement</b> {{ statement }}</li>
                <br>
                <li><b>Supportive Answer:</b> {{ supportive_answer }}</li>
                <br>
                <li><b>Opposing Answer:</b> {{ opposing_answer }}</li>
            </ul>
        </div>
    </div>
{% endblock %}
