h1 {
    font-weight: 900;
    font-size: 20px;
}
h2 {
    font-weight: bold;
    font-size: 18px;
}
p {
    font-family: var(--bs-body-font-family);
    /*font-size: var(--bs-body-font-size);*/
    font-size: 1.25rem;
}
body {
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
}
.btn-variation {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: var(--bs-body-font-size);
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 10px 20px;
    color: #fff;
    background-color: #1ED760;
    height: 40px;
}
.btn-variation:hover {
    transform: scale(1.04);
    background-color: #21e065;
}
.sidebar {
    width: 300px;
    height: 100%;
    background-color: #f8f9fa;
    border-left: 1px solid #dee2e6;
}
.container {
    margin-top: 50px;
}
.register-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    font-weight: bold;
}
.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s;
}
.form-group input[type="submit"]:hover {
    background-color: #0056b3;
}
.login-link {
    display: block;
    text-align: center;
    margin-top: 20px;
}
.login-link a {
    color: #007bff;
    text-decoration: none;
}
.login-link a:hover {
    text-decoration: underline;
}
.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.register-link {
    display: block;
    text-align: center;
    margin-top: 20px;
}
.register-link a {
    color: #007bff;
    text-decoration: none;
}
.register-link a:hover {
    text-decoration: underline;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}
.navbar-text {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
}
.nav-link-custom {
    color: #007BFF; /* The primary blue color from Bootstrap */
    text-decoration: none;
    padding: 5px 15px; /* Some padding for better spacing */
    border-radius: 5px; /* Round the edges a bit */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
    font-size: larger;
}

.nav-link-custom:hover {
    background-color: #007BFF; /* The primary blue color from Bootstrap */
    color: #FFFFFF; /* White color for text */
}
.navbar>.container-fluid { 
    margin-left: 6em;
}