{% extends "base.html" %}

{% block title %}
K.I.S.S. IELTS A.I. Assistant - Form Page
{% endblock %}

{% block additional_css %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content %}   
    <div class="container p-3">
        <h1>K.I.S.S. IELTS A.I. Assistant</h1>
        {% if feedback_message %}
        <p>{{ feedback_message }}</p>
        {% endif %}
        <div class="mb-3">
            <form method="post" action="/generate">
                <label for="question" class="form-label"><strong>Enter your question:</strong></label>
                <textarea class="form-control" type="textarea" id="question" name="question" rows="4"></textarea><br>
                <input type="submit" value="Submit" class="btn-variation">
            </form>
        </div>
        <div class="mb-3">
            <h2>Sample Question and Answers:</h2>
            <br>
            <ul>
                <li><b>Question:</b> {{ question }}</li>
                <br>
                <li><b>Supportive Answer:</b> {{ supportive_answer }}</li>
                <br>
                <li><b>Opposing Answer:</b> {{ opposing_answer }}</li>
            </ul>
        </div>
    </div>
{% endblock %}