<!-- form.html -->
<!DOCTYPE html>
<html>
<head>
    <title>K.I.S.S. IELTS A.I. Assistant</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>
<body>
    <div class="d-flex justify-content-end"> <!-- Add 'justify-content-end' to align the sidebar to the right -->
        <div class="sidebar p-3">
            <!-- Logout Button -->
            {% if current_user.is_authenticated %}
                <a href="/logout" class="btn btn-primary mb-3">Logout</a>
            {% endif %}
            
            <!-- Token Count -->
            <p><strong>Tokens Left:</strong> {{ current_user.tokens }}</p>
        </div>
    </div>    
    <div class="container p-3">
        <h1>K.I.S.S. IELTS A.I. Assistant</h1>
        {% if feedback_message %}
        <p>{{ feedback_message }}</p>
        {% endif %}
        <div class="mb-3">
            <form method="post" action="/generate">
                <label for="question" class="form-label"><strong>Enter your question:</strong></label>
                <textarea class="form-control" type="textarea" id="question" name="question" rows="4"></textarea><br>
                <input type="submit" value="Submit" class="btn-variation">
            </form>
        </div>
        <div class="mb-3">
            <h2>Sample Question and Answers:</h2>
            <br>
            <ul>
                <li><b>Question:</b> {{ question }}</li>
                <br>
                <li><b>Supportive Answer:</b> {{ supportive_answer }}</li>
                <br>
                <li><b>Opposing Answer:</b> {{ opposing_answer }}</li>
            </ul>
        </div>
    </div>
</body>
</html>
