<!DOCTYPE html>
<html>
<head>
    <title>K.I.S.S. IELTS A.I. Assistant - Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>
<body>
    <div class="container">
        <div class="login-form">
            <h1>K.I.S.S. IELTS A.I. Assistant - Login</h1>
            <form method="POST">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <input type="submit" value="Log In">
                </div>
            </form>
            <div class="register-link">
                <a href="{{ url_for('register') }}">Register</a>
            </div>
        </div>
    </div>
</body>
</html>
