{% extends "base.html" %}

{% block title %}
K.I.S.S. IELTS A.I. Assistant - Unapproved Users
{% endblock %}

{% block additional_css %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-end">
        <div class="sidebar p-3">
            <!-- Logout Button -->
            {% if current_user.is_authenticated %}
                <a href="/logout" class="btn btn-primary mb-3">Logout</a>
            {% endif %}
            
            <!-- Token Count -->
            <p><strong>Tokens Left:</strong> {{ current_user.tokens }}</p>
        </div>
    </div>    
    <div class="container p-3">
        <h1>Unapproved Users</h1>
        <p>Below is a list of users awaiting approval. Click "Approve" to grant them access.</p>
        
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <a href="/approve_user/{{ user.id }}" class="btn btn-success">Approve</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
{% endblock %}
