{% extends "base.html" %}

{% block title %}
K.I.S.S. IELTS A.I. Assistant - User Form
{% endblock %}

{% block content %}
    <div class="container p-3">
        <h1>K.I.S.S. IELTS A.I. Assistant - Users</h1>
        <div class="mb-3">
            <h2>All Users:</h2>
            <ul>
            {% for user in users %}
                <li><b>Username:</b> {{ user.username }}, <b>Email:</b> {{ user.email }}, <b>Tokens:</b> {{ user.tokens }}</li>
                <ul>
                {% for interaction in user.interactions %}
                    <li>
                        <b>Question:</b> {{ interaction.question }},
                        <b>Supportive Answer:</b> {{ interaction.supportive_answer }},
                        <b>Opposing Answer:</b> {{ interaction.opposing_answer }}
                    </li>
                {% endfor %}
                </ul>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}